
body {
    background-color: #010312;
    color: #FDFEFF;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0;
    background-image: url("pictures/background.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#socialmedia{
    width: 25px;
    height: 25px;
    padding-right: 25px;
}
/*.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 50px 100px 100px 50px;
    grid-column-gap: 50px;
    grid-row-gap: 20px; 
    margin-left: 400px;
    padding-top: 200px;
}
#firstgridrow{
    grid-area: 1/1/2/2;
}*/
.parent {
    display: grid;
    padding-top: 250px;
    margin-left: 300px;
    grid-template-columns: 200px 200px 50px;
    grid-template-rows: 50px 100px 75px 100px;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 4; }
    .div2 { grid-area: 2 / 1 / 3 / 4; border-right: 1px solid grey; justify-self: center; align-self: center; font-size:28px;}
    .div3 { grid-area: 3 / 1 / 4 / 4; font-size:13px;}
    .div4 { grid-area: 4 / 1 / 5 / 4;  }
    #projectbutton
    {
        background-color: white;
        color: #0D79F5;
        margin-left: 20px;
    }
button
{
   
    background-color: #0D79F5;
    color:white;
    border-radius: 20px;
    height: 35px;
    width: 110px;
    border: none;
    margin-right: 20px;
    
}

#lastitemnav
{
    margin-right: 10em;
}
a {
    color: #FDFEFF;
    text-decoration: none;
    margin-right: 2em;
}
h2,
h3,
h4 {
    margin: 0;
    padding: 10px;
}
.flex-container {
    display: flex;
    justify-content: center;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 69px;
    align-items: center;
    background-color: #0C0E1D;
    font-size: 16px;
}
header img {
    height: 50px;
    padding-left: 10px;

}
header nav {
    text-align: right;
    flex-grow: 1;   
}
#firstheaderitem{
    font-family: 'Pacifico';
    margin-left: 8em;
}
#footerdiv{
    height: 20px;
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 17px;
    font-size: 11px;
    text-align: right;
}
@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico-Regular.ttf");
}




