
body {
    background-color: #010312;
    color: #FDFEFF;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 0;
    background-image: url("pictures/IMG_14954.jpg");
    background-position: 200% 10%;
    background-repeat: no-repeat;
  background-attachment: fixed;

}
#facebook{
    width: 20px;
    height: 20px;
}
/*.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 50px 100px 100px 50px;
    grid-column-gap: 50px;
    grid-row-gap: 20px; 
    margin-left: 400px;
    padding-top: 200px;
}
#firstgridrow{
    grid-area: 1/1/2/2;
}*/
.parent {
    display: grid;
    padding-top: 200px;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: 50px 200px 100px 50px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; justify-self: end; }
    .div2 { grid-area: 1 / 2 / 2 / 3; justify-self: start; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 4; }
    .div5 { grid-area: 3 / 1 / 4 / 4; }
    .div6 { grid-area: 4 / 1 / 5 / 2; }
    .div7 { grid-area: 4 / 3 / 5 / 4; } 
#lastitemnav
{
    margin-right: 10em;
}
a {
    color: #FDFEFF;
    text-decoration: none;
    margin-right: 2em;
}
h2,
h3,
h4 {
    margin: 0;
    padding: 10px;
}
.flex-container {
    display: flex;
    justify-content: center;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 69px;
    align-items: center;
    background-color: #0C0E1D;
    font-size: 16px;
}
header img {
    height: 50px;
    padding-left: 10px;

}
nav {
    text-align: right;
    flex-grow: 1;   
}
#firstheaderitem{
    font-family: 'Pacifico';
    margin-left: 4em;
}
@font-face {
    font-family: "Pacifico";
    src: url("fonts/Pacifico-Regular.ttf");
}




